[submodule "yasnippet"]
	path = yasnippet
	url = git@github.com:Singletoned/yasnippet.git
[submodule "eproject"]
	path = eproject
	url = https://github.com/Singletoned/eproject.git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = git@github.com:Singletoned/yasnippet-snippets.git
